# Git
.git/**
.github/**

# VS Code
.vscode/**

# Tests
tests/**

# Sources
client/src/**
server/src/**
**/*.ts
**/*.map

# Development
tsconfig*.json
package-lock.json
README-1.1.3.md
README-FOR-FIX.md
MANIFEST.json

# Temporary
*.zip