.git/**
.github/**
.vscode/**
.gitignore
tests/**
client/src/**
server/src/**
**/*.ts
**/*.map
/node_modules/**
client/node_modules/@types/**
client/node_modules/undici-types/**
server/node_modules/@types/**
server/node_modules/undici-types/**
tsconfig*.json
tslint.json
package-lock.json
client/package-lock.json
server/package-lock.json
README-*.md
MANIFEST*.json
MIGRATION*.md
coverage/**
.nyc_output/**
*.patch
*.zip
*.vsix
*.tgz
